<ion-view class="screendonofrio2">
    <div class="row row-center screenTop" style="height:100%;">
        <div class="col">
            <div class="col">
                <img src="img/bgTopSelector.png" width="200" class="img-responsive center-block" alt="">
            </div>
            <div class="col">
                <a href="javascript:;" ng-click="mapsearch()" class="center-block"><img src="img/btnFindCart.png" class="center-block" width="250" alt=""></a>
            </div>
            <div class="col">
                <img src="img/o.png" class="img-responsive center-block" alt="">
            </div>
            <div class="col">
                <a href="javascript:;" ng-click="menu()" class="center-block"><img src="img/btnGetCart.png" class="center-block" width="250" alt=""></a>
            </div>
        </div>
    </div>
</ion-view>