<ion-view class="screenFestivo">
  	<div class="row row-center" style="height:100%;" id="list">
		<div class="col">
			<div class="col">
    			<a href="javascript:;" ng-click="paq1()"><img src="img/btnCombo1.png" class="center-block"></a>
    		</div>
    		<div class="col">
    			<a href="javascript:;" ng-click="paq2()"><img src="img/btnCombo2.png" class="center-block"></a>
    		</div>
    		<div class="col">
    			<a href="javascript:;" ng-click="paq3()"><img src="img/btnCombo3.png" class="center-block"></a>
    		</div>
    		<div class="col">
    			<a href="javascript:;" ng-click="paq4()"><img src="img/btnCombo4.png" class="center-block"></a>
    		</div>
		</div>
	</div>
    <div class="row row-center" style="height:100%;" id="detail1">
        <div class="col">
            <div class="col">
                <div style="margin-top:20px; position:relative;">
                    <a href="javascript:;" ng-click="returnList();">
                        <i class="ion-arrow-left-b" style="position:absolute; color:#fff; font-size:2em; top:25px; left:35px; "></i>
                        <img src="img/modalPaq1_02.png" class="img-responsive center-block">
                    </a>
                </div>
                <div>
                    <img src="img/modalPaq1_03.png" class="img-responsive center-block">
                </div>
            </div>
            <div class="col" style="margin-top:-35px;">
                <a href="javascript:;" ng-click="delivery(1);">
                    <img src="img/btnElegir.png" class="img-responsive center-block" style="max-width:250px;">
                </a>
            </div>
        </div>
    </div>
    <div class="row row-center" style="height:100%;" id="detail2">
        <div class="col">
            <div class="col">
                <div style="margin-top:20px; position:relative;">
                    <a href="javascript:;" ng-click="returnList();">
                        <i class="ion-arrow-left-b" style="position:absolute; color:#fff; font-size:2em; top:25px; left:35px; "></i>
                        <img src="img/modalPaq2_02.png" class="img-responsive center-block"></a>
                </div>
                <div>
                    <img src="img/modalPaq2_03.png" class="img-responsive center-block">
                </div>
            </div>
            <div class="col" style="margin-top:-35px;">
                <a href="javascript:;" ng-click="delivery(2);">
                    <img src="img/btnElegir.png" class="img-responsive center-block" style="max-width:250px;">
                </a>
            </div>
        </div>
    </div>
    <div class="row row-center" style="height:100%;" id="detail3">
        <div class="col">
            <div class="col">
                <div style="margin-top:20px; position:relative;">
                    <a href="javascript:;" ng-click="returnList();">
                        <i class="ion-arrow-left-b" style="position:absolute; color:#fff; font-size:2em; top:25px; left:35px; "></i>
                        <img src="img/modalPaq3_02.png" class="img-responsive center-block"></a>
                </div>
                <div>
                    <img src="img/modalPaq3_03.png" class="img-responsive center-block">
                </div>
            </div>
            <div class="col" style="margin-top:-35px;">
                <a href="javascript:;" ng-click="delivery(3);">
                    <img src="img/btnElegir.png" class="img-responsive center-block" style="max-width:250px;">
                </a>
            </div>
        </div>
    </div>
    <div class="row row-center" style="height:100%;" id="detail4">
        <div class="col">
            <div class="col">
                <div style="margin-top:20px; position:relative;">
                    <a href="javascript:;" ng-click="returnList();">
                        <i class="ion-arrow-left-b" style="position:absolute; color:#fff; font-size:2em; top:25px; left:35px; "></i>
                        <img src="img/modalPaq4_02.png" class="img-responsive center-block"></a>
                </div>
                <div>
                    <img src="img/modalPaq4_03.png" class="img-responsive center-block">
                </div>
            </div>
            <div class="col" style="margin-top:-35px;">
                <a href="javascript:;" ng-click="delivery(4);">
                    <img src="img/btnElegir.png" class="img-responsive center-block" style="max-width:250px;">
                </a>
            </div>
        </div>
    </div>
    <div class="row row-center" style="height:100%;" id="providers">
        <div class="col">
            <div class="col">
                <div style="margin-top:5px; width:300px; height: 375px; background:url(img/bgPrveedores.png) no-repeat; background-position: 50% 50%; padding-top: 160px;" class="center-block">
                    <div class="list center-block" style="background:#f3f3f3; width:120px;">
                        <a class="item item-icon-left" ng-href="tel:995037402" style="border:0; padding:7px; background:#f3f3f3;">
                            <i class="ion-android-phone-portrait" style="color:#73c0d6"></i> &nbsp;
                            <span style="text-decoration:underline; color:#748083;">995037402</span>
                        </a>
                        <a class="item item-icon-left" ng-href="tel:980308691" style="border:0; padding:7px; background:#f3f3f3;">
                            <i class="ion-android-phone-portrait" style="color:#73c0d6"></i> &nbsp;
                            <span style="text-decoration:underline; color:#748083;">980308691</span>
                        </a>
                        <a class="item item-icon-left" ng-href="tel:998187035" style="border:0; padding:7px; background:#f3f3f3;">
                            <i class="ion-android-phone-portrait" style="color:#73c0d6"></i> &nbsp;
                            <span style="text-decoration:underline; color:#748083;">998187035</span>
                        </a>
                        <a class="item item-icon-left" ng-href="tel:994181134" style="border:0; padding:7px; background:#f3f3f3;">
                            <i class="ion-android-phone-portrait" style="color:#73c0d6"></i> &nbsp;
                            <span style="text-decoration:underline; color:#748083;">994181134</span>
                        </a>
                        <a class="item item-icon-left" ng-href="tel:998181874" style="border:0; padding:7px; background:#f3f3f3;">
                            <i class="ion-android-phone-portrait" style="color:#73c0d6"></i> &nbsp;
                            <span style="text-decoration:underline; color:#748083;">998181874</span>
                        </a>
                        <a class="item item-icon-left" ng-href="tel:998165335" style="border:0; padding:7px; background:#f3f3f3;">
                            <i class="ion-android-phone-portrait" style="color:#73c0d6"></i> &nbsp;
                            <span style="text-decoration:underline; color:#748083;">998165335</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-top:-15px;">
                <a href="javascript:;" ng-click="returnproviders();">
                    <img src="img/btnReturn.png" class="center-block" width="280">
                </a>
            </div>
        </div>
    </div>
</ion-view>